* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --ff-primary: 'Staatliches', sans-serif;
    --ff-second: 'Palanquin', sans-serif;
    --ff-third: 'open-sans', sans-serif;
    --ff-four: 'Roboto', open-sans;
    --bc-primary: hsl(var(--hue), 100%, 97%);
    --bc-second: hsl(var(--hue), 17%, 62%);
    --bc-third: hsl(var(--hue), 18%, 79%);
    --fc-primary: hsl(var(--hue), 0%, 100%);
    --fc-second: hsl(var(--hue), 84%, 12%);
    --fc-third: hsl(var(--hue), 17%, 35%);
    --hue:233;

    font-size: 62.5%;
}

.page {
    margin:0 auto;
    max-width: 38rem;
}

body {
    background: var(--bc-primary);

}

header {
    background: var(--bc-second);
    font-family: var(--ff-primary);

    font-weight: 400;
    line-height: 3.4rem;
    height: 30rem;
}

header img {
    display: block;
    margin: auto;
    padding-top: 3.2rem;
}

header h1 {
    text-transform: uppercase;
    color: var(--fc-primary);
    background: var(--bc-third);
    padding: 0.7rem 8rem 0.8rem;
    line-height: 3.4rem;
    font-size: 4rem;
    text-align: center;
    margin-top: 3rem;
}

main {
    gap: 3.5rem;
    
}

main img {
    width: 38rem;

}

main p {
    margin: 0 auto;
    font-family: var(--ff-second);
    color: var(--fc-second);
    width: 38rem;
    margin: 4.2rem auto;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.7rem;
    text-align: initial;
   

}

main div span {
    position:absolute;
    color: var(--fc-third);
    background: var(--fc-primary); 
    font-family: var(--ff-primary);
    text-transform: uppercase;

    border-radius: 2rem;
    width: 11.2rem;
    height: 3.5rem;

    font-size: 2rem;
    font-weight: 400;
    right:4rem;
    top: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;

    animation: topdown 1200ms backwards;
}

.cards {
    display: grid;
    
}
.card {
    margin-top: 6.3rem;
    margin:0 auto;
    position: relative;
   
    animation: downtop 1400ms backwards;
}


@keyframes downtop {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes topdown {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@media(max-width:899px){
    footer, header p {
        display:none;
    }
}

@media (min-width:900px) {
    .pFirst {
        display: none;
    }
    header{
        width: 37rem;
        height: 100vh;
    }
    header p {
        font-family: var(--ff-third);
        text-align: center;
        color: hsl(var(--hue), 0%, 100%);
        margin: 5.2rem 4.8rem;
        font-weight: 400;
        line-height: 2rem;
        font-size: 1.4rem;
    }
    body {
        display: flex;
        margin:0;
    }
    main div span {
        top: 8rem;
        right: 8rem;
    }
    .card img {
        width: auto;
        height: auto;
        
    }
    .card img:hover {
        transform: scale(1.1);
        opacity: 0.3;
        transition: 300ms;
    }

    
    .page{
        margin:0;
        width: 1280px;
        height: 720px;
        
        position: absolute;
        margin: -5rem 37.7rem;
        
    }
    .cards{
        margin:5rem 10rem;
        gap:3.2rem;
        grid-template-areas: 
        'A B C'
        'D B E'
        'D F E';
    }

    .cards .card:nth-child(1){
        grid-area: A;
    }
    .cards .card:nth-child(2){
        grid-area: B;
    }
    .cards .card:nth-child(3){
        grid-area: C;
    }
    .cards .card:nth-child(4){
        grid-area: D;
    }
    .cards .card:nth-child(5){
        grid-area: F;
    }  
    .cards .card:nth-child(6){
        grid-area: E;
    }

    footer {
        font-family: var(--ff-four);
        position: relative;
        right: -50rem;
        bottom: -90rem;
        object-fit: cover;
        height: fit-content;
        font-size: 2.4rem;
    }
}